.bg-icons_04 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -990px -730px;
}

.bg-icons_05 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -10px -492px;
}

.bg-icons_06 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -255px -492px;
}

.bg-icons_08 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -500px -492px;
}

.bg-icons_07 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -10px -972px;
}

.bg-icons_09 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -254px -972px;
}

.bg-icons_12 {
  width: 225px;
  height: 221px;
  background: url("./../assets/css_sprites.png") -10px -10px;
}

.bg-icons_14 {
  width: 225px;
  height: 221px;
  background: url("./../assets/css_sprites.png") -255px -10px;
}

.bg-icons_22 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -745px -10px;
}

.bg-icons_24 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -498px -972px;
}

.bg-icons_23 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -745px -250px;
}

.bg-icons_26 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -742px -972px;
}

.bg-icons_31 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -745px -490px;
}

.bg-icons_37 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -986px -972px;
}

.bg-icons_39 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -10px -732px;
}

.bg-icons_46 {
  width: 225px;
  height: 221px;
  background: url("./../assets/css_sprites.png") -10px -251px;
}

.bg-icons_47 {
  width: 225px;
  height: 221px;
  background: url("./../assets/css_sprites.png") -255px -251px;
}

.bg-icons_40 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -1235px -10px;
}

.bg-icons_50 {
  width: 224px;
  height: 221px;
  background: url("./../assets/css_sprites.png") -500px -251px;
}

.bg-icons_51 {
  width: 225px;
  height: 221px;
  background: url("./../assets/css_sprites.png") -500px -10px;
}

.bg-icons_54 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -255px -732px;
}

.bg-icons_55 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -500px -732px;
}

.bg-icons_61 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -1235px -250px;
}

.bg-icons_56 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -1235px -490px;
}

.bg-icons_57 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -745px -732px;
}

.bg-icons_63 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -990px -10px;
}

.bg-icons_62 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -990px -250px;
}

.bg-icons_67 {
  width: 225px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -990px -490px;
}

.bg-icons_64 {
  width: 224px;
  height: 220px;
  background: url("./../assets/css_sprites.png") -1235px -730px;
}
