@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.light {
  --primary: 255, 255, 255;
  --secondary: 0, 0, 0;
  --neon-01: 234, 17, 54;
  --neon-02: 211, 22, 140;
  --neon-03: 166, 24, 209;
  --neon-04: 118, 5, 224;
  --neon-05: 18, 16, 217;
}

.dark {
  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;
}

.red {
  --primary: 255, 0, 0;
  --secondary: 125, 25, 25;
}
