@import "base-ui";

:root {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/1-1920x1080-e59bd1f66ecb965565929da3238b3cda.png");
}
