@import "base-ui";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

* {
  transition:
    background-image 0.5s ease-in-out,
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

:root {
  font-family: "Poppins", sans-serif;
  background-color: black;
  background-image: url("../assets/background.light.jpg");
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

html:has(body.dark) {
  background-image: url("../assets/background.dark.jpg");
}
